@layer theme, base, mui, components, utilities;
@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #ffffff;
  --color-dark-green: #042A2B;
  --color-accent-yellow: #FCA311;
  --color-accent-pink: #EA526F;
  --color-deep-rose: #B9314F;
  --color-dark-gray: #333333;

}

@layer base {

  * {
    font-family: Montserrat;
    box-sizing: border-box;

  }

  html {
    @apply snap-y snap-mandatory h-auto
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white
  }

  body {
    @apply bg-dark-green overflow-x-hidden
  }
}

@layer components {
  .lucide {
    @apply text-accent-yellow;
  }

}